extends layout

block main
    h2 Catálogo de Libros

    .mb-3
        input#inputBusqueda.form-control.d-inline-block.w-auto(type="text" placeholder="Título...")
        button#btnBuscar.btn.btn-primary.ms-2 Buscar
    table#tablaLibros.table.table-hover
        thead
            tr
                th ISBN
                th Título
                th Autor
                th Género
                th Precio
                th Tipo
                th Stock
                th Acciones
        tbody

    #modalDetalles.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5#modalTitulo.modal-title
                    button.btn-close(data-bs-dismiss="modal")
                .modal-body#modalContenido
                .modal-footer
                    button.btn.btn-secondary(data-bs-dismiss="modal") Cerrar