header.bg-dark.text-white.p-3
    .container.d-flex.justify-content-between.align-items-center
        h1.h5.mb-0 Venta de libros
        span.small DWEC · Ejercicio 3

nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
    .container
        button.navbar-toggler(
            type="button",
            data-bs-toggle="collapse",
            data-bs-target="#menu"
        )
            span.navbar-toggler-icon

        #menu.collapse.navbar-collapse
            ul.navbar-nav.me-auto
                li.nav-item
                    a.nav-link(href="catalogo.html") Catálogo
                li.nav-item
                    a.nav-link(href="insertarClientes.html") Clientes
                li.nav-item
                    a.nav-link(href="insertarLibros.html") Libros
                li.nav-item
                    a.nav-link(href="pedidos.html") Pedidos
                    