doctype html
html(lang="es")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title #{title}

// Bootstrap CSS
link(
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css",
    rel="stylesheet"
)

body
include navbar.pug

main.container.my-4
    block main

include footer.pug

// Bootstrap JS
script(
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
)



script(src="../js/ejercicio01_dom.js") 