header.bg-dark.text-white.p-3
    .container.d-flex.justify-content-between.align-items-center
        h1.h5.mb-0 ASINCRONIA HARRY POTTER
        span.small DWEC · Ejercicio 1

nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
    .container
        button.navbar-toggler(
            type="button",
            data-bs-toggle="collapse",
            data-bs-target="#menu"
        )
            span.navbar-toggler-icon

        #menu.collapse.navbar-collapse
            ul.navbar-nav.me-auto
                li.nav-item
                    a.nav-link(href="buscador.html") Buscador
                li.nav-item
                    a.nav-link(href="bienvenida.html") Bienvenida
                li.nav-item
                    a.nav-link(href="favoritos.html") Favoritos
                li.nav-item
                    a.nav-link(href="quienessomos.html") Quiénes somos
                    